<title>
    About
</title>

<div class="jumbotron"  >
 <img src="https://media.giphy.com/media/xUPGcHab8eUC3ISTNm/giphy.gif">
</div>

<div class="row text-center">
    <div class="col-md-12">
        <img width="150" height="150" src="\images\IMG20170205151929.jpg" alt="Tu Avatar" class="rounded-circle">
        <h3>Sinh Viên: Nguyễn Quốc Anh Tú</h3>
        <h4>MSSV: 1412624</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8890719651754!2d106.68381131537461!3d10.743031992344228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fa8f039803f%3A0x845c5d0dc79846f!2zMjg3LzQ2IMOCdSBExrDGoW5nIEzDom4sIHBoxrDhu51uZyAyLCBRdeG6rW4gOCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1492140676851"
            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<script>
    jQuery('#about').addClass('active');

</script>