<div class="jumbotron">
    <h1 class="display-3">Nhóm: BOP</h1>
    <p class="lead">Lab02 UDPT-2017</p>
</div>

<div class="row text-center">
    <div class="col-md-12">
        <img width="150" height="150" src="https://lh3.googleusercontent.com/tBKDAJitVvRdtRIE-z79UNksy-xffi6W2lXisaMtYur3I7NcXEa6ZGfCI6QVxO2dGFRJJadT5IHT4BTk9dJirq0uMUCUfOHKLnH4FjYCwPiOPWC5fLOdbT6-xv_1h-Xc96QgnGhj85YZTBJKaC7sJMUHEJ6a8hP3QRg0Wx4lKeVsZFHtr1IDNU5KY3it901nitM6YFFBy4YbWP3xyez9FCebLkHF1HmSu70EW5cZOsgnO1cnwIYq6DpVOtS2R5rs0cvfyHUoZu-QAULwb7GQ6QnEi3kmRWL9JE4h9mTtj8U0bgqMS5g2MrG-0ZurtDPl2a39xOtZkJEMdJpReXB5keoW6CYXhHRnezvYaXpxMnGxhLnZqD1tYHnD9qmc6fqG5FRQ7Jj47PHeyXhgAsFD5-THe-Pk2x1wVJ-PoyR6TMOeAyY5Nk2bSRLc1d0Rpvft0gxs6VZW8RlXPb_VQ1qXUIeWFicfbiQ_P9h2BMNmIy4RFGhGwyKsBs8VnZmc_ru6GDuEhkSSQmKm3pPyDjE6VdPgvZPyQLmwOjT3ccRcv2hCEnaRwfgyvpBtUjQgl8LwgnyxT0e3Uc58-3qSdl88G7HXVrAYXZHJ51FGfdQGW1SNnaLBe3lF0Q=s963-no"
            alt="Tu Avatar" class="img-circle">
        <h3>Sinh Viên: Nguyễn Quốc Anh Tú</h3>
        <h4>MSSV: 1412624</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.8890719651754!2d106.68381131537461!3d10.743031992344228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fa8f039803f%3A0x845c5d0dc79846f!2zMjg3LzQ2IMOCdSBExrDGoW5nIEzDom4sIHBoxrDhu51uZyAyLCBRdeG6rW4gOCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1492140676851"
            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<script>
    jQuery('#about').addClass('active');

</script>