<title>
    Messages
</title>
<div class="row" style="background: lightblue;">
    <div class="col-lg-4">
        {{#each messages}}
        <h2>{{name}}</h2>
        <p>{{msg}}</p>
        <p><a class="btn btn-primary" href="#" role="button">Reply</a></p>
        {{/each}}
    </div>
</div>

 <a class="btn btn-success mr-sm-2" href="/messages/new" role="button">New message</a>