<h1>New message</h1>


<form>
    <label for="exampleSelect1">Select a user</label>
    <select class="form-control" id="exampleSelect1">
        {{#each friends}}
      <option>{{name}} - {{email}}</option>
      {{/each}}
    </select>
    <label for="exampleTextarea">Message box</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</form>