<h1>New message</h1>


<form action="/sendMess" method="POST">
    <label for="exampleSelect1">Select a user</label>
    <select class="form-control" id="exampleSelect1" name="id">
        {{#each friends}}
      <option value = {{id}}>{{name}} - {{email}}</option>
      {{/each}}
    </select>
    <label for="exampleTextarea">Message box</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="msg"></textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</form>

