<title>
    Sent messages
</title>
{{#each messages}} 
    <div class="row" style="background: lightblue"> 
    <div class="col-lg-4">
        <h2>{{name}}</h2>
        <p>{{msg}}</p>
        <p>{{stime}}</p>
        <p>{{rtime}}</p>
    </div>
</div>
{{/each}}
